---
title: Events
layout: layout.njk
permalink: /events/index.html
---
<h2>Upcoming Events</h2>
<ul>
  {% for event in events %}
    <li><strong>{{ event.date | slice(0, 10) }}</strong> - {{ event.name }} at {{ event.location }}</li>
  {% endfor %}
</ul>